body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, li {
  text-align: justify;
}
html {
  scroll-behavior: smooth;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 14px;
  line-height: 25px;
  color: #2a2a2a;
}

section {
  padding: 60px 20px; /* Espaciado interno uniforme */
  margin-bottom: 40px; /* Espacio entre las secciones */
}



/* Estilo para la sección Home */
#home {
  background-color: #e0f7da; /* color verde claro */
  padding: 20px 0;
  text-align: center;
}

#home .home-content {
  padding: 40px 20px;
  background-color: #ffffff; /* Fondo blanco para destacar el contenido */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para un efecto de elevación */
}

#home {
  background-color: #e0f7da; /* Verde claro */
  padding: 30px 0;
  text-align: center;
}

.home-content {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Contenedor de la barra de navegación */
.main-nav {
  display: flex;
  align-items: center; /* Alinea verticalmente todos los elementos */
  justify-content: space-between; /* Distribuye espacio entre elementos */
  padding: 10px 20px;
}

/* Ajustes específicos para los logos */
.logos {
  display: flex;
  align-items: center; /* Alinea verticalmente los logos */
  margin-left: auto; /* Empuja los logos al final */
}

.logos img {
  height: 50px; /* Ajusta la altura de los logos */
  margin-left: 10px; /* Espacio entre los logos */
  object-fit: contain; /* Asegura que los logos mantengan su proporción */
}


@media (max-width: 991px) {
  html, body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

.main-white-button a {
  font-size: 13px;
  color: #A3C14A;
  background-color: #fff;
  padding: 12px 25px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 600;
  transition: all .1s;
}

.main-white-button a:hover {
  opacity: 0.9;
}

.main-text-button a {
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  transition: all .3s;
}

.main-text-button a:hover {
  opacity: 0.9;
}

.section-heading h6 {
  position: relative;
  font-size: 15px;
  color: #7CC14A ;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: none;
  padding-left: 40px;
}

.section-heading h6:before {
  width: 30px;
  height: 1px;
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  background-color: #7CC14A;
}

.section-heading h2 {
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 25px; 
  font-size: 30px;
  font-weight: 900;
  color: #2a2a2a;
}

.background-header .logo,
.background-header .main-nav .nav li a {
  color: #1e1e1e !important;
}

.background-header .main-nav .nav li:hover a {
  color: #7CC14A !important;
}

.background-header .nav li a.active {
  color: #7CC14A !important;
}

.header-area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 100px;
  background-color: #fff;
}


.header-area .main-nav .logo {
  line-height: 100px;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 2px;
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#top {
  padding-top: 0; /* Elimina cualquier espacio superior */
}
.background-header .main-nav .logo {
  line-height: 75px;
}

.background-header .nav {
  margin-top: 20px !important;
}


.header-area .main-nav .nav li:last-child {
  padding-right: 0px;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 600;
  font-size: 15px;
  color: #2a2a2a;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.header-area .main-nav .nav li a {
  color: #2a2a2a;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
  color: #7CC14A !important;
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
  color: #7CC14A !important;
  opacity: 1;
}

.header-area .main-nav .nav li.submenu {
  position: relative;
  padding-right: 30px;
}

.header-area .main-nav .nav li.submenu:after {
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
  content: "\f107";
  font-size: 12px;
  color: #2a2a2a;
  position: absolute;
  right: 18px;
  top: 12px;
}

.background-header .main-nav .nav li.submenu:after {
  color: #2a2a2a;
}

.header-area .main-nav .nav li.submenu ul {
  position: absolute;
  width: 200px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  top: 50px;
  opacity: 0;
  transform: translateY(+2em);
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.header-area .main-nav .nav li.submenu ul li {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.header-area .main-nav .nav li.submenu ul li a {
  opacity: 1;
  display: block;
  background: #f7f7f7;
  color: #2a2a2a !important;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #eee;
}

.header-area .main-nav .nav li.submenu ul li a:hover {
  background: #fff;
  color: #7CC14A !important;
  padding-left: 25px;
}

.header-area .main-nav .nav li.submenu ul li a:hover:before {
  width: 3px;
}

.header-area .main-nav .nav li.submenu:hover ul {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 33px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.background-header .main-nav .menu-trigger {
  top: 23px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: #1e1e1e;
}

.header-area.header-sticky {
  min-height: 80px;
}

.header-area .nav {
  margin-top: 30px;
}

.header-area.header-sticky .nav li a.active {
  color: #7CC14A;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-area .main-nav .logo {
    color: #1e1e1e;
  }
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #7CC14A !important;
    opacity: 1;
  }
  .header-area.header-sticky .nav li.search-icon a {
    width: 100%;
  }
  .header-area {
    background-color: #f7f7f7;
    padding: 0px 15px;
    height: 100px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-left: 30px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area.header-sticky .nav {
    margin-top: 100px !important;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #191a20 !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #eee !important;
    color: #7CC14A !important;
  }
  .header-area .main-nav .nav li.submenu ul {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
  }
  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }
  .header-area .main-nav .nav li.submenu ul.active {
    height: auto !important;
  }
  .header-area .main-nav .nav li.submenu:after {
    color: #3B566E;
    right: 25px;
    font-size: 14px;
    top: 15px;
  }
  .header-area .main-nav .nav li.submenu:hover ul, .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}

@media (min-width: 767px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}

/* ---------------------------------------------
   banner
--------------------------------------------- */
#top {
  padding-top: 100px;
}

#top .col-lg-4,
#top .col-lg-8 {
  padding: 0px;
}

#top .left-content {
  background-image: url(../images/top-left-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

#top .left-content .inner-content {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

#top .left-content h4 {
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
  color: #fff;
  font-size: 54px;
  font-weight: 700;
}

#top .left-content h6 {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 3px;
  margin-top: 5px;
}

#top .left-content .main-white-button  {
  margin-top: 25px;
  margin-bottom: 10px;
}

#top .left-content .main-white-button a {
  display: inline-block;
}

/* ==== Main CSS === */
.img-fill{
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center
}

.img-fill img {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  display: inline-block;
  max-width: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Grid1k {
  padding: 0 15px;
  max-width: 1200px;
  margin: auto;
}

.blocks-box,
.slick-slider {
  margin: 0;
  padding: 0!important;
}

.slick-slide {
  float: left /* If RTL Make This Right */ ;
  padding: 0;
}

/* ==== Slider Style === */
.Modern-Slider .item .img-fill{
  height:100%;
  max-height: 700px;
  background:#000;
}

.Modern-Slider .item .info > div{
  display:inline-block!important;
  vertical-align:middle;
}

.Modern-Slider .NextArrow {
  position:absolute;
  top:50%;
  transform: translateY(-25px);
  right:30px;
  width: 50px;
  height: 50px;
  background-color: #7CC14A;
  border:0 none;
  line-height: 44px;
  border-radius: 50%;
  text-align:center;
  font-size: 36px;
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
  color:#FFF;
  z-index:5;
  outline: none;
  opacity: 0.3;
  transition: all .3s;
}

.Modern-Slider .NextArrow:hover {
  opacity: 1;
}

.Modern-Slider .NextArrow:before{
  content:'\f105';
}

.Modern-Slider .PrevArrow {
  position:absolute;
  top:50%;
  transform: translateY(-25px);
  left:30px;
  width: 50px;
  height: 50px;
  background-color: #7CC14A;
  border:0 none;
  line-height: 44px;
  border-radius: 50%;
  text-align:center;
  font-size: 36px;
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
  color:#FFF;
  z-index:5;
  outline: none;
  opacity: 0.3;
  transition: all .3s;
}

.Modern-Slider .PrevArrow:hover {
  opacity: 1;
}

.Modern-Slider .PrevArrow:before{
  content:'\f104';
}

ul.slick-dots {
  display: none!important;
}

.Modern-Slider .item.slick-active{
  animation:Slick-FastSwipeIn 1s both;
}

.Modern-Slider .buttons {
  position: relative;
}

.Modern-Slider {background:#000;}


/* ==== Slick Slider Css Ruls === */
.slick-slider{position:relative;display:block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}.slick-list.dragging{cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block}
.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left /* If RTL Make This Right */ ;height:100%;min-height:1px}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}


/* ---------------------------------------------
   about
--------------------------------------------- */
#about {
  margin-top: 20px;
  padding: 100px 0px 0px 0px;
  position: relative;
  z-index: 9;
}

#about .section-heading h2 {
  padding-right: 100px;
}

#about .img-circle1 {
  width: 100%; /* Ajusta el tamaño al contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 50%; /* Hace la imagen circular */
  overflow: hidden; /* Asegura que la imagen no se salga del contenedor redondo */
  object-fit: cover; /* Recorta la imagen para llenar el contenedor circular */
}

#about .left-text-content p {
  margin-bottom: 25px;
}

#about .right-content {
  text-align: center;
  margin-bottom: 30px;
  margin-top: -20px;
}

#about .right-content h3 {
  font-size: 24px;
  font-weight: bold;
  color: #029b75e5; /* Verde para el nombre */
  margin-top: 10px;
}

#about .right-content p {
  font-size: 16px;
  color: #000; /* Ajusta según el fondo */
  margin-top: 10px;
  margin-bottom: 20px;
}

#about .right-content .thumb {
  position: relative;
}

#about .right-content .thumb a {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px; /* Mantén un ancho y alto iguales para la circularidad */
  height: 50px;
  display: inline-block;
  line-height: 50px; /* Alineación vertical centrada */
  text-align: center;
  background-color: #7CC14A;
  color: #fff;
  border-radius: 50%; /* Hace que el enlace sea circular */
  transform: translate(-50%, -50%); /* Centra el enlace en el contenedor */
}

#about .right-content .thumb a:hover {
  opacity: .9;
}


/* ---------------------------------------------
   education and interests
--------------------------------------------- */
.education-section,
.interests-section {
  margin-top: 30px;
  color: #029b75e5; /* Ajusta según el fondo */
}

.education-section h6,
.interests-section h6 {
  font-size: 18px;
  font-weight: bold;
  color: #029b75e5; /* Verde agua para el título */
  margin-bottom: 15px;
}

.education-section ul,
.interests-section ul {
  list-style-type: none;
  padding: 0;
}

.education-section ul li,
.interests-section ul li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #171717; /* Ajusta según el fondo */
}

.education-section ul li strong {
  color: #7CC14A; /* Color para el título de cada educación */
  font-weight: bold; /* Asegura que los títulos estén en negrita */
}
/*          -----------------------------------------------            movil        ------------------------------------------------------*/
.header-area {
  background-color: #fff;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.main-nav .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  margin: 0 15px;
}

.language-switcher, .logos {
  display: flex;
  align-items: center;
}

.language-switcher a {
  margin: 0 5px;
}

.logo-image {
  width: auto;
  height: 40px;
  margin: 0 10px;
}

@media (max-width: 768px) {
  .main-nav .nav {
      flex-direction: column;
      align-items: center;
  }

  .nav li {
      margin: 10px 0;
  }

  .menu-trigger {
      display: block;
      cursor: pointer;
  }

  .header-area header-sticky {
      display: none;
  }

  .menu-trigger.active + .main-nav .nav {
      display: flex;
  }
}
.sticky-sidebar {
  position: sticky;
  top: 10px;
}

.widget input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.widget button {
  padding: 8px 12px;
  border: none;
  background-color: #7CC14A;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.widget button:hover {
  background-color: #029B75;
}

/* ---------------------------------------------
   contact section
--------------------------------------------- */
#reservation .section-heading {
  margin-bottom: 30px;
}

#reservation .section-heading h6 {
  color: #fff;
}

#reservation .section-heading h2 {
  color: #fff;
  font-weight: 700;
}

#reservation .section-heading h6:before {
  background-color: #fff;
}

#reservation p {
  color: #fff;
  margin-bottom: 65px;
}

#reservation {
  margin-top: 120px;
  padding: 120px 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#reservation .phone,
#reservation .message {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 0px 0px 20px 0px;
}

#reservation .phone i,
#reservation .message i {
  width: 70px;
  height: 70px;
  display: inline-block;
  text-align: center;
  line-height: 70px;
  color: #fff;
  background-color: #7CC14A;
  border-radius: 50%;
  font-size: 24px;
  margin-top: -35px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#reservation .phone h4,
#reservation .message h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 10px;
}

#reservation .phone span a,
#reservation .message span a {
  font-size: 14px;
  color: #2a2a2a;
  transition: all .3s;
}

#reservation .phone span a:hover,
#reservation .message span a:hover {
  color: #7CC14A;
}

#contact {
  margin-left: 30px;
  padding: 45px 30px;
  background-color: #fff;
  border-radius: 5px;
}

#contact h4 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #2a2a2a;
  margin-bottom: 30px;
}

.datepicker-days {
  padding: 30px;
  cursor: pointer;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
  color: #2a2a2a;
  font-size: 14px;
  border: 1px solid #000;
  background-color: #fff;
  width: 100%;
  height: 46px;
  border-radius: 5px;
  outline: none;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 15px;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form select:focus {
  border-color: #7CC14A;
}

.contact-form button {
  margin-top: -10px;
  font-size: 13px;
  color: #fff;
  background-color: #A8DAB5;
  padding: 12px 25px;
  width: 100%;
  box-shadow: none;
  border: none;
  display: inline-block;
  border-radius: 3px;
  font-weight: 600;
  transition: all .3s;
}

.contact-form button:hover {
  opacity: .9;
}

.contact-form textarea {
  height: 150px;
  resize: none;
  padding: 20px;
}

.contact-form ::-webkit-input-placeholder { /* Edge */
  color: #2a2a2a;
}

.contact-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #2a2a2a;
}

.contact-form ::placeholder {
  color: #2a2a2a;
}

/* --------------------------------------------------------------------------------------------------------------
                                                footer   aqui para el fondo
-------------------------------------------------------------------------------------------------------------- */
footer {
  margin-top: 60px;
  padding: 50px 0px;
  background-color: #a3dcb2; 
}

footer .left-text-content p {
  margin-top: 5px;
  color: #A8DAB5;
  font-size: 14px;
  text-align: right;
}

footer .right-text-content p {
  color: #A8DAB5;
  font-size: 14px;
  margin-right: 15px;
}

footer .right-text-content {
  text-align: left;
  margin-top: 10px;
}

footer .logo {
  text-align: center;
}

footer .right-text-content ul li {
  display: inline-block;
  margin-left: 15px;
}
footer .right-text-content ul li:first-child {
  margin-left: 0px;
}

footer .right-text-content ul li a {
  width: 44px;
  height: 44px;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  font-size: 20px;
  background-color: #fff;
  border-radius: 50%;
  color: #7CC14A;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

footer .right-text-content ul li a:hover {
  color: #2a2a2a;
}

@media (max-width: 992px) {
  #top {
    padding-top: 100px;
    height: auto;
  }
  .header-area .main-nav .nav li.submenu:after {
    right: 3px;
  }
  .header-area .main-nav .nav li.submenu {
    padding-right: 15px;
  }
  .header-area .main-nav .nav li {
    padding-right: 5px;
    padding-left: 5px;
  }
  .header-area .main-nav .nav li a {
    font-size: 14px;
    letter-spacing: 0px;
  }
  #top .left-content {
    text-align: center;
    padding: 25% 0px;
  }
  #about .right-content {
    margin-left: 0px;
    margin-top: 30px;
  }
  footer .right-text-content {
    text-align: center;
    margin-bottom: 30px;
  }
  footer .left-text-content p {
    text-align: center;
    margin-top: 30px;
  }
}

/* ---------------------------------------------
   preloader
--------------------------------------------- */
#preloader {
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 99999;
  color: #A8DAB5;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #A8DAB5;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ---------------------------------------------
   other specific styles
--------------------------------------------- */
.img-circle1 {
  width: 50px; /* Ajusta el tamaño según sea necesario */
  height: 350px; /* Asegura que sea un círculo perfecto */
  border-radius: 50%; /* Hace que la imagen sea circular */
  object-fit: cover;
  margin-bottom: 10px;
}
.group-category {
    margin-bottom: 40px;
}

.category-title {
    font-size: 24px;
    font-weight: bold;
    color: #A8DAB5;
    margin-bottom: 20px;
}

.member {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.member-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.member-info {
    max-width: 600px;
}

.member-info h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.member-info p {
    margin: 0;
    color: #333;
}

.group-category {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ddd; /* Añade una línea de separación */
}

.category-title {
  font-size: 24px;
  font-weight: bold;
  color: #029b75e5;
  margin-bottom: 20px;
}

.member {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0; /* Elimina cualquier padding que podría crear espacio alrededor */
  border: none; /* Elimina cualquier borde */
  border-radius: 0; /* Elimina cualquier redondeo de bordes */
  background: none; /* Elimina el fondo que podría crear un efecto de recuadro */
}

.member-photo {
  width: 150px;
  height: auto; /* Mantén la proporción de la imagen */
  object-fit: cover;
  border-radius: 5px;
  margin-left: 20px;
}

.member-info {
  max-width: 600px;
  text-align: left;
}

.member-info h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.member-info p {
  margin: 0;
  color: #333;
}
.member-photo {
  width: 150px; /* Ancho fijo para todas las imágenes */
  height: 150px; /* Alto fijo para todas las imágenes */
  object-fit: cover; /* Ajusta la imagen para llenar el área, recortando si es necesario */
  border-radius: 5px; /* Mantiene los bordes redondeados */
  margin-left: 20px;
}



/* para la barra lateral */
.sidebar {
  float: right;
  width: 25%;
  padding: 15px;
  background-color: #f4f4f4;
  border-left: 1px solid #ddd;
}

.widget {
  margin-bottom: 20px;
}

.widget-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.widget form {
  display: flex;
  flex-direction: column;
}

.widget input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.widget button[type="submit"] {
  padding: 10px;
  border: none;
  background-color: #A8DAB5;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.widget button[type="submit"]:hover {
  background-color: #7CC14A;
}

.widget ul {
  list-style: none;
  padding: 0;
}

.widget ul li {
  margin-bottom: 10px;
}

.widget ul li a {
  text-decoration: none;
  color: #7CC14A;
}

.widget ul li a:hover {
  text-decoration: underline;
}

/***** Boton cambio de idioma ********************/
/* Asegura que los enlaces de idioma estén en línea y no se envuelvan a la siguiente línea */
.language-switcher {
  display: flex; /* Usa flex para alinear los elementos en línea */
  align-items: center; /* Alinea los elementos verticalmente en el centro si es necesario */
}

.language-switcher a {
  color: #333; /* Color del texto */
  text-decoration: none; /* Sin subrayado */
  font-weight: bold; /* Texto en negrita */
  padding: 5px 10px; /* Espaciado alrededor de los enlaces */
}

.language-switcher a.active {
  color: #7CC14A; /* Color del enlace activo */
}

.language-switcher a:hover {
  text-decoration: underline; /* Subrayado al pasar el ratón */
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav li {
  margin-right: 15px;
}

/* Si el selector de idioma debe estar alineado a la derecha */
.nav li.language-switcher {
  margin-left: auto;
}


/*************** configuracion **************/
html, body {
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilo para la lista de publicaciones */
.publication-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.publication-list li {
  margin-bottom: 20px; /* Espacio entre cada publicación */
  padding-bottom: 20px; /* Espacio inferior dentro del borde */
  border-bottom: 1px solid #ddd; /* Línea divisoria entre publicaciones */
}

.publication-list h3 {
  font-size: 20px; /* Tamaño de fuente del título */
  font-weight: bold; /* Negrita para el título */
  color: #333; /* Color del título */
  margin-bottom: 5px; /* Espacio debajo del título */
  line-height: 1.5; /* Altura de línea para mejorar la legibilidad */
}

.publication-list p {
  font-size: 16px; /* Tamaño de fuente para el texto */
  color: #666; /* Color del texto */
  margin: 0; /* Quitar el margen por defecto */
  line-height: 1.6; /* Altura de línea para mejorar la legibilidad */
}

.publication-list a {
  color: #029b75e5; /* Color para los enlaces */
  text-decoration: none; /* Sin subrayado en los enlaces */
}

.publication-list a:hover {
  text-decoration: underline; /* Subrayado al pasar el ratón por encima */
}

/***---------------------------------------     Miembros           -----------------------------------------------------**/
.header-area {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinea los elementos a la izquierda */
  height: 100px; /* Aumenta la altura del encabezado para más espacio */
  padding: 0 20px; /* Añade espacio interno a los lados */
  background-color: white; /* Establece un fondo blanco */
}
.logos {
  height: 100px; /* Ajusta este valor según el tamaño deseado */
  display: flex;
  align-items: center; /* Centra verticalmente la imagen */
}
.logos img {
  height: 90%; /* Ajusta la imagen a la altura completa del contenedor */
  width: auto; /* Mantén la proporción de la imagen */
  margin-top: -30px;
  object-fit: contain; /* Ajusta la imagen dentro del contenedor sin recortar */
}
.nav {
  display: flex; /* Hace que el contenedor del menú sea un contenedor flex */
  align-items: center; /* Alinea los elementos del menú verticalmente al centro */
  justify-content: flex-start; /* Alinea los elementos a la izquierda */
  padding: 0; /* Elimina cualquier relleno interno */
  margin-left: 0px; /* Ajusta este margen para mover el menú más a la izquierda */
  list-style: none; /* Elimina los puntos de lista predeterminados */
}
.nav li {
  margin: 0 15px; /* Ajusta el espaciado entre los elementos del menú */
  list-style: none; /* Elimina los estilos de lista predeterminados */
}
.language-switcher {
  margin-left: auto; /* Empuja el selector de idioma al extremo derecho */
}

.language-switcher a {
  font-size: 16px; /* Aumenta el tamaño de fuente */
  margin-left: 5px; /* Ajusta el margen entre los enlaces de idioma */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color: #5a5a5a; /* Establece un color para los enlaces */
}

.sticky-sidebar {
  position: fixed; /* Fija la barra lateral */
  top: 100px; /* Mantén este valor o ajústalo según sea necesario */
  right: -20; /* Manténlo a la derecha */
  width: 300px; /* Aumenta el ancho según sea necesario */
  overflow-y: auto; /* Permite el desplazamiento dentro del menú si es necesario */
  max-height: calc(100vh - 100px); /* Asegúrate de que no se salga de la vista */
  background-color: #fff; /* Color de fondo opcional */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra opcional para el menú */
  z-index: 100; /* Asegura que esté por encima del contenido principal */
  padding: 20px; /* Añade algo de relleno para un poco más de espacio interno */
}

.section-heading {
  font-size: 16px; /* Ajusta el tamaño de la fuente según tu diseño */
  font-weight: bold; /* Hace que el texto sea negrita */
  color: #191a20; /* Color verde similar al de 'Scientific Publications Selection' */
  letter-spacing: 2px; /* Añade espacio entre las letras */
  margin-bottom: 20px; /* Añade espacio debajo del título */
  text-align: left; /* Alinea el texto a la izquierda, ajusta según sea necesario */
}


/* Estilos generales para la barra lateral */
.container-fluid {
  padding: 0;
  margin: 0;
}

/* Encabezado fijo */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Asegura que el encabezado esté siempre por encima de otros elementos */
  background-color: #fff; /* Fondo del encabezado */
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Contenido principal y barra lateral */
.content-wrapper {
  margin-top: 100px; /* Deja espacio para el encabezado fijo */
  padding: 0;
}

.main-content {
  padding: 20px;
}

/* Barra lateral fija */
/* Ajustes para el encabezado */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Asegura que el encabezado esté sobre la barra lateral */
  background-color: #fff; /* Fondo del encabezado */
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Espacio para el contenido para evitar que quede debajo del encabezado */
.main-content {
  padding-top: 100px; /* Ajusta este valor según la altura de tu barra de navegación */
}

/* Barra lateral sticky */
.sticky-sidebar {
  position: sticky;
  top: 90px; /* Ajusta este valor para que la barra no cubra el encabezado */
  right: 0;
  height: calc(100vh - 70px); /* Asegura que la barra lateral abarque el resto de la ventana */
  overflow-y: auto; /* Permite el desplazamiento dentro de la barra lateral */
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media query para pantallas más pequeñas */
@media (max-width: 767px) {
  .sticky-sidebar {
      position: fixed;
      top: 0;
      right: -100%; /* Oculta fuera de la vista inicialmente */
      width: 250px; /* Ancho de la barra lateral en móviles */
      height: 10%;
      transition: right 0.3s ease-in-out; /* Transición suave para mostrar/ocultar */
      z-index: 150; /* Asegura que esté sobre el contenido principal pero debajo del encabezado */
  }

  .sticky-sidebar.active {
      right: 0; /* Muestra la barra lateral deslizándola a la vista */
  }

  .menu-trigger {
      display: block;
      position: fixed;
      top: 15px;
      right: 15px;
      z-index: 200; /* Encima de la barra lateral */
  }

  .main-content {
      margin-top: 20px; /* Ajusta el margen superior según la altura del encabezado */
  }
}
/* Ajustes de la Barra de Navegación */
.contact-info {
  font-family: Verdana, sans-serif; /* Asegura que toda la sección use Verdana */
  font-size: 16px; /* Tamaño de fuente uniforme */
  color: #333; /* Cambia el color según tus preferencias */
  line-height: 1.5; /* Espaciado entre líneas */
  margin-top: 20px;
}

.contact-text {
  font-size: inherit; /* Usa el tamaño de fuente definido en .contact-info */
  line-height: inherit; /* Usa el line-height definido en .contact-info */
}

.contact-image {
  display: inline;
  width: auto;
  height: 1.5em; /* Alinea la altura de la imagen con la altura del texto */
  vertical-align: middle;
}

.contact-item {
  margin-bottom: 20px;
}

.icon-container {
  display: inline-block;
  width: 30px;
  text-align: center;
  vertical-align: middle;
}

/* Ajusta la altura del margen superior de la sección de contacto */
#contact {
  margin-top: 150px; /* Ajusta este valor según sea necesario */
}

/* Asegúrate de que el encabezado tenga un z-index alto y posición fija */
.header-area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Valor alto para que esté por encima de otros elementos */
  background-color: #fff; /* Asegura que el fondo esté visible */
}

/* Ajustes adicionales para el contenido principal para que no quede debajo del encabezado */
.main-content {
  padding-top: 120px; /* Ajusta este valor según la altura de tu encabezado */
}
/* Estilos base para todas las secciones del menú excepto "About" */
#group-members, 
#publications, 
#contact, 
#vacancies, 
#abstracts {
  max-width: 1000px; /* Ancho máximo para un diseño más compacto */
  margin: 0 auto; /* Centra las secciones */
  padding: 60px 20px; /* Espaciado uniforme alrededor de cada sección */
  text-align: center; /* Centra el texto dentro de cada sección */
  box-sizing: border-box; /* Asegura que el padding y borde se incluyan en el ancho total */
}

/* Estilos específicos para los elementos dentro de las secciones del menú */
#group-members .member,
#publications .journal-entry,
#contact .contact-info,
#vacancies .join-option,
#abstracts .video-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Permite que los elementos se ajusten y se envuelvan */
  margin-bottom: 20px; /* Espacio inferior entre elementos */
}

/*------------------------------------  Estilos específicos para la información de cada elemento ---------------------------------------------------------*/
.main-content {
  max-width: 85%; /* Ajuste el porcentaje según sea necesario para hacerlo un poco más amplio */
  margin-right: 15%; /* Ajusta el margen derecho para reducir el espacio de la barra lateral */
  padding: 20px; /* Asegura que haya suficiente espacio interno */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

/* Asegúrate de que la barra lateral no se superponga */
.sticky-sidebar {
  width: 15%; /* Ajusta el ancho de la barra lateral para hacerlo más pequeño */
  position: fixed; /* Mantiene la barra lateral fija */
  top: 100px; /* Ajusta según la altura del header */
  right: 0;
  height: calc(100vh - 100px); /* Asegura que la barra lateral abarque el resto de la ventana */
  overflow-y: auto; /* Permite el desplazamiento dentro de la barra lateral */
  background-color: #f8f9fa; /* Color de fondo de la barra lateral */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade una sombra para la separación */
  z-index: 100; /* Asegura que la barra lateral esté encima del contenido principal */
}

/* Ajuste de responsividad para pantallas más pequeñas */
@media (max-width: 991px) {
  .main-content {
    max-width: 100%; /* Ancho completo en pantallas pequeñas */
    margin-right: 0; /* Elimina el margen derecho */
  }

  .sticky-sidebar {
    position: relative; /* Cambia a posición relativa para pantallas pequeñas */
    width: 100%; /* Ancho completo para la barra lateral */
    top: auto; /* Restablece la posición superior */
    height: auto; /* Restablece la altura */
    overflow-y: visible; /* Elimina el desplazamiento automático */
    box-shadow: none; /* Elimina la sombra */
  }
}

/* Código CSS específico para secciones diferentes de "About" y "Contact" */
:not(#about):not(#contact) .main-content {
  max-width: 85%; /* Ajusta el ancho para que sea más amplio */
  margin-right: 15%; /* Deja espacio para la barra lateral */
  padding: 20px; /* Asegura que haya suficiente espacio interno */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

:not(#about):not(#contact) .sticky-sidebar {
  width: 15%; /* Reduce la anchura de la barra lateral */
  position: fixed; /* Mantiene la barra lateral fija */
  top: 100px; /* Ajusta según la altura del header */
  right: 0;
  height: calc(100vh - 100px); /* Asegura que la barra lateral abarque el resto de la ventana */
  overflow-y: auto; /* Permite el desplazamiento dentro de la barra lateral */
  background-color: #f8f9fa; /* Color de fondo de la barra lateral */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade una sombra para la separación */
  z-index: 100; /* Asegura que la barra lateral esté encima del contenido principal */
}

/* Ajuste para la sección "About" */
#about {
  margin: 0 auto; /* Centra la sección en la página */
  padding: 100px 0; /* Ajusta el padding para el contenido */
  width: 70%; /* Ajusta el ancho según sea necesario */
  text-align: center;
}

/* Ajuste para la sección "Contact" */
#contact {
  margin: 0 auto; /* Centra la sección en la página */
  padding: 45px 30px; /* Ajusta el padding */
  background-color: #fff;
  border-radius: 5px;
  max-width: 70%; /* Ajusta el ancho según sea necesario */
  text-align: left; /* Alinea el texto a la izquierda */
}

/*                                    publicaciones                         */
#publications {
  margin: 0 auto; /* Centra la sección en la página */
  padding: 60px 20px; /* Ajusta el padding para que haya espacio */
  width: 75%; /* Ajusta el ancho según sea necesario */
  max-width: 1200px; /* Limita el ancho máximo */
  text-align: left; /* Alinea el contenido a la izquierda */
  background-color: #fff; /* Color de fondo para diferenciar la sección */
  border-radius: 5px; /* Bordes redondeados */
}

/*                               --------     joins us       -------                  */
#vacancies, #join-us { /* Puedes usar un mismo estilo para ambas */
  margin: 0 auto; /* Centra la sección en la página */
  padding: 50px 20px; /* Ajusta el padding */
  width: 70%; /* Ajusta el ancho según sea necesario */
  max-width: 1100px; /* Limita el ancho máximo */
  text-align: center; /* Centra el texto dentro de la sección */
  background-color: #ffffff; /* Color de fondo para diferenciarlas */
  border-radius: 5px; /* Bordes redondeados */
}


/* Estilo del menú de navegación */
.main-nav ul {
  display: flex;
  justify-content: space-around; /* Distribuye los elementos con espacio equitativo */
  align-items: center; /* Alinea verticalmente */
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav ul li {
  margin: 0 15px; /* Agrega espacio entre los elementos */
}

.main-nav .logos {
  display: flex;
  align-items: center;
}

.main-nav .logos img {
  max-height: 60px; /* Ajusta el tamaño de los logos */
  margin-left: 10px;
}

/* Ajuste para el menú en dispositivos móviles */
.menu-trigger {
  display: none; /* Ocultar en pantallas grandes */
  cursor: pointer;
  font-size: 30px;
  padding: 10px;
  position: fixed; /* Fijar posición para que esté siempre visible */
  top: 15px;
  left: 15px;
  z-index: 1001; /* Asegura que esté encima de otros elementos */
}

/* Barra lateral para pantallas grandes */
.sidebar {
  position: fixed;
  width: 20%; /* Ancho de la barra lateral en pantallas grandes */
  max-width: 300px;
  height: 100%;
  background: #fff;
  top: 0;
  right: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 0.3s ease;
  transform: translateX(0); /* Asegura que la barra lateral esté visible en pantallas grandes */
  overflow-y: auto; /* Permite desplazarse en la barra lateral */
}

/* Ocultar barra lateral y mostrar botón de menú en dispositivos móviles */
@media (max-width: 768px) {
  .menu-trigger {
      display: block; /* Mostrar botón de menú en dispositivos móviles */
  }

  .sidebar {
      transform: translateX(100%); /* Ocultar barra lateral fuera de la vista en dispositivos móviles */
      width: 70%; /* Ajustar el ancho de la barra lateral en móviles si es necesario */
  }

  .sidebar.open {
      transform: translateX(0); /* Mostrar barra lateral cuando se hace clic en el botón del menú */
  }

  .main-nav {
      display: none; /* Ocultar menú de navegación en el encabezado en dispositivos móviles */
  }
}

/* Asegurar que las imágenes sean responsivas */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Barra lateral */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%; /* Ajuste del ancho en móvil */
  max-width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transform: translateX(100%); /* Ocultar inicialmente */
  transition: transform 0.3s ease-in-out; /* Suavizar la transición */
  z-index: 1000;
}

/* Mostrar barra lateral cuando esté abierta */
.sidebar.open {
  transform: translateX(0); /* Mostrar barra lateral */
}

/* Ocultar barra de navegación superior en móviles */
@media (max-width: 768px) {
  .main-nav {
      display: none; /* Ocultar el menú superior en móviles */
  }

  .menu-trigger {
      display: block; /* Mostrar el botón de hamburguesa en móviles */
  }
}

/* Botón de hamburguesa */
.menu-trigger {
  display: none;
  cursor: pointer;
  font-size: 30px;
  padding: 10px;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1100;
}

/* Ajustes para evitar desplazamiento del contenido */
body.sidebar-open {
  overflow: hidden;
}

.language-switcher {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.language-switcher a {
  margin: 0 10px;
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .language-switcher {
    position: fixed;
    top: 60px; /* Justo debajo del botón de menú */
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    text-align: center;
    z-index: 1001;
  }
}
/**/
body.sidebar-open {
  overflow: hidden; /* Evita el desplazamiento cuando el menú está abierto */
}
.sidebar {
  z-index: 1000;
}
body.sidebar-open {
  overflow: hidden; /* Evita el desplazamiento de la página cuando el menú lateral está abierto */
}

#group-members, 
#publications, 
#contact, 
#vacancies, 
#abstracts {
  max-width: 1000px; /* Puedes ajustar este valor */
  margin: 0 auto;
  padding: 60px 20px;
  text-align: center;
}





